/* {
	outline: 2px solid rgba(255,0,0,.5)
}*/

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
	p {
		line-height: 1.8em;
	}
	a {
		text-decoration: none;
		color:#336699;
		transition: font-weight 0.5s;

	}
		a:hover {
			color: #4354DB;
			font-weight: bold;
		}
	ul {
		list-style-type: none ;
	}

/*****HEADER (Estilos copiados del ejercicio*/
header {
	background: #333;
	padding: 15px 0;
	margin:0;
	color: #fff;
	border-bottom: 1px solid #333;
}
	.logo {
		width: 80px;
		height: 80px;
	}
	nav ul {
		list-style-type: none;
		padding-top: 34px;
		margin: 0 -15px 0 0;
		float: right;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		white-space: nowrap;
	}
	nav li {
		position: relative;
		float:left;
		margin: 0;
		padding: 0;
	}
		nav li:hover a {
			background: #B43C27;
			border-radius: 5px;
		}
	nav a {
		padding: 10px 15px;
		color: #eee;
		text-shadow: 2px 2px 4px #000;
	}
		nav a:hover {
			color:#fff;
		}
/*****FIN HEADER*/

/*****LASTEST EPISODES*/
.last-ep>.container {
	background-color: #eee;
	padding-bottom: 30px ;
	border-bottom: 5px solid #ccc;
}
.last-ep img {
	width: 100%;
}
.last-ep h2 {
	margin: 15px 0;
}
.last-ep span {
	font-weight: normal;
	font-size: 12px;
	padding-left: 10px;
}
.last-ep a {
	font-weight: bold;
}

/*****FIN LASTEST EPISODES*/

/*****CONTENIDO*/
/***Shows*/
	.col-shows {
		width: 18.822223%;/* 12/5*100 aprox. */
		padding-right: 7px !important;
		margin-top: 20px;
	}
	.shows img {
		width: 100%;
	}
	.img-borde { /*Estilo tambien para la sección latest episodes*/
		background: #fff;
    	padding: 3px;
    	border: solid 1px #999;
    	transition:all 0.25s;
	}
		.img-borde:hover {
			padding: 1px;
			border: 0px;
		}
/*fin Shows*/

/***Side Bar Right*/
	.side .icon {
		width: 12px;
		height: 12px;
		margin-right: 10px;
	}
	.side h4 {
		margin:30px 0 15px 0;
		border-bottom: 3px solid #ddd;
	}
	.side p {
		margin:30px 0 15px 0;
		padding:10px 0 15px 0;
		border-top: 2px solid #ddd;
	}
	.side li {
		margin-bottom: 10px; 
	}
/*fin Side Bar Right
/*****FIN CONTENIDO*/

/*****FOOTER*/
footer {
	background-color: #555;
	margin: 15px 0;
	padding: 10px 0
}
footer p {
	color: white;
	margin:20px 0;
}
.nav-footer li {
	display: inline-block;
	padding: 0 5px;
}
footer a{
	color: #ccc;
	text-shadow: 1px 1px 2px #000;
}
	.nav-footer li:hover a {
		color: orange;
		font-weight: bold;
	}
.copyright {
	color: #999;
}
/*****FIN FOOTER*/